<header class="header">
  <div class="row ">

    <div class="col-half w-40">
      <div class="product-card__bonus">
        <img src="{{bonus}}">
      </div>
      <div class="product-card__main-image">
        <img src="{{image}}">
      </div>

      <div class="product-card__badge product-card__badge--50-off"></div>
    </div>

    <div class="col-half w-60">
      <div class="product-card__text">
        <h3 class="product-card__pre-price">{{prePrice}}</h3>
        <h1 class="product-card__price">{{price}}</h1>
        <p class="product-card__in-store">{{inStoreText}}</p>
        <p class="product-card__description">{{description}}</p>
        <p class="product-card__sku">Product {{sku}}</p>
        <p class="product-card__title">{{title}}</p>
        <div class="product-card__stars">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star star--empty"></div>
        </div>
      </div>
    </div>

    <div class="product-card__overlay"></div>
    <a href="#" class="product-card__link"></a>

  </div>

</header>
